*{
     box-sizing: border-box;
}

body{
    width:80%;
    margin:0 auto;
    padding-top: 7em;
    padding-bottom: 6em;
    height: 100vh;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    margin:0 auto;
    right: 0;
    background-color: whitesmoke;
    border:0.01em solid black;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    border:0.01em solid black;
    font-size: 2em;
    text-align: center;
}

main{
    height: 100%;
    overflow-y: auto;
}

article {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
  border: 0.1em solid black;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    
}

.imagen-receta{
    width: 80%;
    margin: 0 auto;
    border:0.01em solid black;
    text-align: center;
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;    
}

#titulo{
    text-align: center;
}

.titulo-pasos{
    text-align: left;
    margin-left: 10%;
}

.pasos{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-left: 2em;
}

form{ 
    border: 0.2em solid black;
    width: 80%;
    margin: 2em auto;
    padding: 1%;  
    background-color: whitesmoke;
}

.celdas{
    display: grid;
    grid-template-columns: 15% 30%;
}

textarea{
    height: 8em;
    width: 40em;
}

label{
    font-size: 1.5em;
}

#botones{
    text-align: center;
}

.boton-aceptar{
    width: 20%;
    background-color: lightgreen;
    font-size: 1.5em;
    border-radius: 0.3em;
    margin-right: 4em;
}

.boton-cancelar{
     width: 20%;
    background-color: lightcoral;
    font-size: 1.5em;
    border-radius: 0.3em;
}

