*{
     box-sizing: border-box;
}

body{
    width:80%;
    height: 100vh;
    margin:0 auto;
    border: 0.1em solid black;
    padding: 5%;
    
}

#datos-personales{
    display:flex;
    gap:5%;
align-items: flex-start;
}

img{
    border-radius: 5%;
}

iframe{
     height:20em;
     flex-basis: 45%;
}

.empresa{
    display:flex;
    gap: 5%;
align-items: flex-start;
}

.datos-empresa{
    flex-basis: 50%;
}

.datos-de-estudio{
    display:flex;
    gap: 5%;
align-items: flex-start;
}

.imagen-estudios{
    width: 40%;
    height: auto;
}

.bloque-de-imagenes{
    display:flex;
    flex-direction: column;
    gap:3em;
    align-items: center;
    flex-basis: 50%;
}

.bloque-de-texto{
    flex-basis: 50%;
}
